@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Rambla&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&family=Sigmar+One&display=swap');


body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root{
    --color-black: #000000;
    --color-white: #ffffff;
    --color-border: #ffffff34;
    --font-staat: 'Staatliches', cursive;
    --font-os:  'Oswald', sans-serif;
    --font-ram: 'Rambla', sans-serif;
}
	
/* global classes */
.font-staat{
    font: normal 400 18px var(--font-staat);
}
.font-os{
    font: normal 300 18px var(--font-os);
}
.font-ram{
    font: normal bold 18px var(--font-ram);
}

.font-size-42{
    font-size: 42px;
}

.font-size-40{
    font-size: 40px;
}
.font-size-34{
    font-size: 34px;
}
.font-size-27{
    font-size: 27px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}

.bgcolor-black{
    background-color: var(--color-black);
}

.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    background: rgba(0,0,0,0.6) !important;
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
    padding-top: 0.7rem ;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #0892d0;
}

.name{
	width: 30%;
    border: 5px solid #0892d0;
    border-radius: 5px;
}

.information{
    width: 30%;
    border: 3px solid #0892d0;
    border-radius: 5px;
}



.poimg img{
    margin-left: 30px;
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 3px;
}

.poimg img:hover{
    opacity: 0.8;
}

.nm{
    position: relative;
    text-align: justify !important;
}
.skls{
    width: 25%;
    border: 3px solid #0892d0;
    border-radius: 5px;
}

.journey{
    width: 70%;
    border: 3px solid #0892d0;
    border-radius: 5px;
}

.freedom{
    width: 50%;
    border: 3px solid #0892d0;
    border-radius: 5px;
}

.loc{
    width: 15%;
    border: 3px solid #0892d0;
    border-radius: 5px;
}

.description{
    margin-left: -17px;
}

.site-banner .banner-area{
    background: url(./paul.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}


.author{
	width: 70%;
	height: 70%;
}



.site-banner .banner-area .author{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.site-banner .banner-area .author .author-img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.50), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    width: 300px;
    height: 300px;
    border-radius: 80%;
    margin: auto;
    background: url(./photo.JPG) no-repeat;
    background-size: 95%;
    background-position: 50% 30%;
}


.container{
    width: 500px ;
    height: 500px ;

} 

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: inline;
  /* max-height: 200px !important; */
}

.carousel-item{
    height: 500px;
    width: 500px;
}
.carousel-item h3{
    letter-spacing: 2px;
    color: white;
    font-family: rambla;
}

.carousel-item .carousel-caption h3{
    margin-bottom: -30px;
}
   

.foo{
      background: url(./back.jpg) no-repeat;
      background-size: cover;
    
  }

  
.dodo{
	  margin-top: 30px;
  }
  
#footer form .row .col input[type="text"],
#footer form .row .col input[type="email"],
#footer form textarea{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid gray;
    padding: 1.5rem 1rem;
}

[class*="col-"] {
    width: 100%;
  }

  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

@media only screen and (max-width: 339px){
    
    .nm{
        font-size: 15px;
    }

    .nm1{
        font-size: 18px;
    }
}


@media only screen and (max-width: 678px){
  .moto{
	 font-size: 13px;
  }
  .moto1{
	  font-size: 20px;
  }
  
  .dodo{
	  font-size: 15px;
  }
  
  .sketches{
	  margin-top: 20px;
  }

.d1{
    margin-top: 20px !important;
    margin: 0 auto;
    width: 70%;
    border: 3px solid #0892d0;
    border-radius: 5px;
}
.d2{
    margin-top: 20px !important;
    margin: 0 auto;
    width: 50%;
    border: 3px solid #0892d0;
    border-radius: 5px;
}
 
.d3{
    margin-top: 20px !important;
    margin: 0 auto;
    width: 20%;
    border: 3px solid #0892d0;
    border-radius: 5px;
}

}
